<section class="container">
  <div class="row">
    <div class="col mb-3">
      <h1>🏛️ Open Museum</h1>
    </div>
  </div>

  <div class="row">

    <app-single-museum class="col-4"
      *ngFor="let museum of museums"
      [museumRef]="museum.fields.ref_musee"
      [museumName]="museum.fields.nom_du_musee"
      [museumAdress]="museum.fields.adr"
      [museumZipCode]="museum.fields.cp"
      [museumCity]="museum.fields.ville"
      [museumPhone]="museum.fields.telephone"
      [museumWebSite]="museum.fields.sitweb"
      [museumOpening]="museum.fields.periode_ouverture">
    </app-single-museum>

  </div>
</section>
